<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link href="/css/common.css" rel="stylesheet">
  <link href="/css/edit.css" rel="stylesheet">
  <%
    title = ''
    action_url = ''
    text_title = ''
    text_content = ''
    submit_button_name = ''
    if @contents
      title = 'メモ編集ページ'
      action_url = "/memos/#{@contents[:id]}"
      text_title = ERB::Util.html_escape(@contents[:title])
      text_content = ERB::Util.html_escape(@contents[:content])
      submit_button_name = '変更'
    else
      title = 'メモ登録ページ'
      action_url = '/memos'
      submit_button_name = '保存'
    end
  %>
  <title><%= title %></title>
</head>
<body>
<div class="container">
  <div class="container-header">
    <div class="container-header__item">
      <h1>メモアプリ</h1>
    </div>
  </div>
  <form method="post" action="<%= action_url %>">
    <div class="form-items">
      <div class="form-items__item">
        <input type="text" name="title" id="title" value="<%= text_title %>">
      </div>
      <div class="form-items__item">
        <textarea name="content" id="content" cols="30" rows="10"><%= text_content %></textarea>
      </div>
    </div>
    <div class="form-action">
      <input type="submit" value="<%= submit_button_name %>">
    </div>
    <% if @contents %>
      <input type="hidden" name="_method" value="patch">
    <% end %>
  </form>
</div>
</body>
</html>
